@import '~global.css/mixin';

.container {
  color: $primary-color-darken2;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;

  &.dark {
    @extend .word-halo; /* stylelint-disable-line */

    color: $word-color;

    .video-tag {
      background: rgba(200, 116, 24, 0.6);
      border: thin #ff9000 solid;
    }
  }

  .video-tag {
    width: 60px;
    height: 25px;
    color: $word-color;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    background: #ff9c00;
    border: thin #ff6c00 solid;
  }
}


