$modals: ('Betslip', 'Record', 'News', 'Offline');

@each $modal in $modals {
  .#{$modal}-enter {
    transform: scale(0.9);
    opacity: 0.01;
  }

  .#{$modal}-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: all 300ms ease-out;
  }

  .#{$modal}-exit {
    transform: scale(1);
    opacity: 1;
  }

  .#{$modal}-exit-active {
    transform: scale(0.9);
    opacity: 0;
  }
}

/* ********************************************/
.carousel-enter {
  transform: translateY(-200%);
  opacity: 0;
}

.carousel-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  transition-property: opacity, transform;
}

.carousel-exit {
  transform: translateY(0%);
  opacity: 1;
}

.carousel-exit-active {
  transform: translateY(200%);
  opacity: 0;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  transition-property: opacity, transform;
}

/* ********************************************/
.setting-enter {
  height: 0;
  overflow: hidden;
}

.setting-enter-active {
  height: 200px;
  overflow: visible;
}

.setting-exit {
  height: 200px;
  overflow: visible;
}

.setting-exit-active {
  height: 0;
  overflow: hidden;
}

/* ********************************************/
.classifier-enter {
  left: -80%;
}

.classifier-enter-active {
  left: 0;
}

.classifier-exit {
  left: 0;
}

.classifier-exit-active {
  left: -80%;
}

/* ********************************************/
.snackbar-enter {
  opacity: 0;
}

.snackbar-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.snackbar-exit {
  opacity: 1;
}

.snackbar-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* ********************************************/
.game-item-enter {
  opacity: 0;
}

.game-item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.game-item-exit {
  opacity: 1;
}

.game-item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* ********************************************/
.news-content-popup-enter {
  opacity: 0;
}

.news-content-popup-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.news-content-popup-exit {
  opacity: 1;
}

.news-content-popup-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/* ********************************************/
.offline-enter {
  opacity: 1;
}

.offline-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.offline-exit {
  opacity: 1;
}

.offline-exit-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
