@import '~global.css/mixin';

.sport-icon {
  path {
    fill: $primary-color-darken2;
  }
}

.container {
  @include shadow(0.2);

  width: 100%;
  margin-top: 12px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;

  .header {
    display: flex;
    align-items: center;

    .sport-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    .title {
      @include text-max-line(1);

      flex-grow: 1;
      width: 1px;
      margin-right: 10px;
      margin-left: 10px;
      color: $primary-color-darken2;
      font-size: 14px;
    }

    .remove-btn {
      width: 20px;
      height: 20px;
      margin-left: auto;
      background-image: url('../../../../../images/elements/btn_betlist_close.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;

    .text {
      color: $primary-color-darken2;
      font-size: 14px;
    }

    .strikethrough {
      text-decoration: line-through;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      color: $primary-color-darken;
      font-size: 14px;

      &.increase {
        color: $price-up-color;
      }

      &.decrease {
        color: $price-down-color;
      }
    }
  }

  .close-tips {
    display: flex;
    align-items: center;
    margin-top: 4px;
    color: $bet-close-color;

    .lock {
      width: 18px;
      height: 20px;
      margin-right: 12px;
      background-image: url('../../../../../images/elements/img_betlist_betlock.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .stake-input {
    margin-top: 4px;
  }

  &.close {
    background: #e1e1e1;
    border: thin #bbb solid;

    .remove-btn {
      background-image: url('../../../../../images/elements/btn_betlist_close_lock.png');
    }

    .sport-icon path {
      fill: $deep-gray;
    }

    .text {
      color: $deep-gray;
    }

    .title {
      color: $deep-gray;
    }

  }
}
