@import '~global.css/mixin';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  .side {
    display: flex;
    align-items: center;

    .label {
      color: $disable-color;
      font-size: 14px;
    }

    .value {
      color: $primary-color-darken;
      font-size: 14px;
    }
  }
}
