@import '~global.css/mixin';

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #eee;

  > .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: #000;

    > .go-back-btn {
      width: 14px;
      height: 20px;
      margin-right: 15px;
      background-image: url('../../../images/elements/btn_expendgame_back_arrow_left.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    > .title {
      @include text-max-line(1);

      font-weight: 500;
      @extend .word-halo; /* stylelint-disable-line */
    }
  }

  > .body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    height: 1px;

    > .list {
      flex-grow: 1;
      height: 1px;
      padding: 0 20px;
      overflow: auto;
    }
  }

  > .mask {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(#fff, 0.5);

    > .icon {
      width: 75px;
      height: 75px;
      margin-bottom: 10px;
    }

    > .text {
      color: map-get($betslip-status-color, 'loading');
      font-size: 16px;

      &.success {
        color: map-get($betslip-status-color, 'success');
      }

      &.fail {
        color: map-get($betslip-status-color, 'fail');
      }
    }
  }
}

.icon-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;

  > .icon-button {
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  > .calculate {
    background-image: url('../../../images/elements/btn_calculator.png');

    &.active {
      background-image: url('../../../images/elements/btn_calculator_h.png');
    }
  }

  > .settings {
    background-image: url('../../../images/elements/btn_setting.png');

    &.active {
      background-image: url('../../../images/elements/btn_setting_h.png');
    }
  }

  .clear {
    background-image: url('../../../images/elements/btn_clear.png');
  }
}

.bet-type-navbar {
  @include shadow(0.3);

  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  background: #fff;
  user-select: none;

  > .nav {
    @include text-max-line(1);

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;
    height: 100%;
    color: $disable-color;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    transition: all 0.3s ease-in-out;

    &.active {
      color: $primary-color-darken;
      border-bottom-color: $primary-color-darken;
    }

    &.disable {
      color: #bbb;
    }
  }
}
